#include <windows.h>
#include "resource.h"

IDI_APPICON ICON "../assets/icons/regkit.ico"

1 RT_MANIFEST "app.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION REGKIT_VERSION_MAJOR, REGKIT_VERSION_MINOR, REGKIT_VERSION_PATCH, REGKIT_VERSION_REVISION
 PRODUCTVERSION REGKIT_VERSION_MAJOR, REGKIT_VERSION_MINOR, REGKIT_VERSION_PATCH, REGKIT_VERSION_REVISION
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904b0"
    BEGIN
      VALUE "CompanyName", "nohuto\0"
      VALUE "FileDescription", "RegKit\0"
      VALUE "FileVersion", REGKIT_VERSION_STR "\0"
      VALUE "InternalName", "regkit\0"
      VALUE "LegalCopyright", "(C) 2026 nohuto\0"
      VALUE "OriginalFilename", "regkit.exe\0"
      VALUE "ProductName", "RegKit\0"
      VALUE "ProductVersion", REGKIT_VERSION_STR "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END

#include "icons.rc"
#include "editor_dialogs.rc"
#include "search_dialogs.rc"

IDD_KEY_HANDLES DIALOGEX 0, 0, 560, 306
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME | WS_MINIMIZEBOX | WS_MAXIMIZEBOX
EXSTYLE WS_EX_APPWINDOW
CAPTION "Key Handles"
FONT 9, "Segoe UI"
BEGIN
    EDITTEXT        IDC_KH_FILTER,8,6,544,11,ES_AUTOHSCROLL
    CONTROL         "",IDC_KH_LIST,"SysListView32",LVS_REPORT | LVS_OWNERDATA | LVS_SHOWSELALWAYS | WS_CLIPSIBLINGS | WS_TABSTOP,8,22,544,268
    CONTROL         "",IDC_KH_STATUS,"msctls_statusbar32",SBARS_SIZEGRIP,0,294,560,12
END
