IDI_ICON_BACK ICON "icons/phosphor/dark/back.ico"
IDI_ICON_COPY ICON "icons/phosphor/dark/copy.ico"
IDI_ICON_DELETE ICON "icons/phosphor/dark/delete.ico"
IDI_ICON_FORWARD ICON "icons/phosphor/dark/forward.ico"
IDI_ICON_LOCAL_REGISTRY ICON "icons/phosphor/dark/local-registry.ico"
IDI_ICON_OFFLINE_REGISTRY ICON "icons/phosphor/dark/offline-registry.ico"
IDI_ICON_PASTE ICON "icons/phosphor/dark/paste.ico"
IDI_ICON_REDO ICON "icons/phosphor/dark/redo.ico"
IDI_ICON_REFRESH ICON "icons/phosphor/dark/refresh.ico"
IDI_ICON_REMOTE_REGISTRY ICON "icons/phosphor/dark/remote-registry.ico"
IDI_ICON_REPLACE ICON "icons/phosphor/dark/replace.ico"
IDI_ICON_SEARCH ICON "icons/phosphor/dark/search.ico"
IDI_ICON_UNDO ICON "icons/phosphor/dark/undo.ico"
IDI_ICON_UP ICON "icons/phosphor/dark/up.ico"
2100 ICON "icons/phosphor/light/back.ico"
2101 ICON "icons/phosphor/light/copy.ico"
2102 ICON "icons/phosphor/light/delete.ico"
2106 ICON "icons/phosphor/light/forward.ico"
2107 ICON "icons/phosphor/light/local-registry.ico"
2108 ICON "icons/phosphor/light/offline-registry.ico"
2109 ICON "icons/phosphor/light/paste.ico"
2110 ICON "icons/phosphor/light/redo.ico"
2111 ICON "icons/phosphor/light/refresh.ico"
2112 ICON "icons/phosphor/light/remote-registry.ico"
2113 ICON "icons/phosphor/light/replace.ico"
2114 ICON "icons/phosphor/light/search.ico"
2117 ICON "icons/phosphor/light/undo.ico"
2118 ICON "icons/phosphor/light/up.ico"
IDI_ICON_FOLDER ICON "icons/folder.ico"
IDI_ICON_SYMLINK ICON "icons/symlink.ico"
IDI_ICON_DATABASE ICON "icons/database.ico"
IDI_ICON_TEXT ICON "icons/text.ico"
IDI_ICON_BINARY ICON "icons/binary.ico"
IDI_ICON_FOLDER_SIM ICON "icons/folder-sim.ico"
IDI_ICON_FOLDER_DENIED ICON "icons/folder-denied.ico"
IDI_ICON_TRACE ICON "icons/trace.ico"
IDI_ICON_DATABASE_DENIED ICON "icons/database-denied.ico"
IDI_ICON_TREE_LOCAL_REGISTRY ICON "icons/local-registry.ico"
IDI_ICON_TREE_REMOTE_REGISTRY ICON "icons/remote-registry.ico"
IDI_ICON_TREE_OFFLINE_REGISTRY ICON "icons/offline-registry.ico"
IDI_ICON_ROOT_KEYS ICON "icons/root-keys.ico"
IDI_ICON_LIGHT_GRID ICON "icons/grid-light.ico"
IDI_ICON_DARK_GRID ICON "icons/grid-dark.ico"
IDI_ICON_LIGHT_GO ICON "icons/go-light.ico"
IDI_ICON_DARK_GO ICON "icons/go-dark.ico"
